@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-bg-medium font-dm-sans text-white;
	scrollbar-width: thin;
	scrollbar-color: #a6a6a6 transparent;
}

input,
textarea {
	@apply focus-visible:outline-primary-light focus-visible:outline-none;
}

.shine {
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.8));
	-webkit-filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.8));
}

/* Custom Scrollbar Styling for Webkit browsers */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #d6d6d6;
	border-radius: 10px;
	border: 2px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #888888;
}
